spring:
  application:
    name: gateway-test
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: account-service
              uri: lb://account-service
              predicates:
                - Path=/api/accounts/**
              filters:
               - Simple
            - id: product-service
              uri: lb://product-service
              predicates:
                - Path=/api/products/**
              filters:
               - Simple

server:
  port: 8080

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/
    fetch-registry: true
  instance:
    prefer-ip-address: true

jwt:
  secret: poew12947dhasojbFDQErdb1763bcASDMNWebiweh2333211QQQEEASD123321dE
  duration: 10m