spring:
  application:
    name: product-service
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8082

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/
  #    fetch-registry: true
  instance:
    prefer-ip-address: true

jwt:
  secret: poew12947dhasojbFDQErdb1763bcASDMNWebiweh2333211QQQEEASD123321dE
  duration: 10m