spring:
  application:
    name: account-service

server:
  port: 8081

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/
#    fetch-registry: true
  instance:
    prefer-ip-address: true